/.tmp/
/eln-cache/
/elpa/
/.org-id-locations
/emms/
/straight/
/vugomars.org~
/undo-tree-hist/
/transient/
/auto-save-list/
/projectile-bookmarks.eld
/.DS_Store
/.custom.el
/recentf
/persist/
/org-roam.db
/;
/.org-generic-id-locations
/.lsp-session-v1
/early-init.el
/var/
/request/
/places
/oauth2-auto.plist
/history
/eshell/
/.dap-breakpoints
/vugomars.pdf
/vugomars.synctex.gz
/vugomars.tex
/bm-repository
/bookmarks
/.cache/
/img/.DS_Store
/emojify/
/dirvish/
/snippets/.DS_Store
/snippets/typescript-tsx-mode/.DS_Store
/latex-math-preview-cache/
/url/
/nov-places
/projectile.cache
/.extension/
/#eamon.org#
*.DS_Store
/tree-sitter/
/timelog
/eshell-alias
/forge-database.sqlite
/.dir-locals.el
/eclipse.jdt.ls/
/ltximg/
